#body {
    font-family: 'Source Serif Pro', serif;
    background-color: rgb(175, 162, 144);
}

.navbar {
    background-color: brown;
    color: rgb(175, 162, 144);
    box-shadow: inset 0px 0px 30px #5c4033;
    margin-bottom: 50px;
}
img {
    height: 80px;
    border-radius: 50%;
    margin-left: 1%;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 12px rgb(175, 162, 144);
}
#RRtitle {
    text-align: right;
    margin-left: auto;
    margin-right: 3%;
    text-shadow: 2px 2px 12px #5c4033;
}  

#content {
    width: 90%;
     margin-left: auto;
     margin-right: auto;
     margin-top: 30px;
     text-align: center;
     background-color: rgb(210, 228, 240);
     opacity:.8;
     border-radius: 10px;
     box-shadow: inset 0px 0px 5px #5c4033;
     color: rgb(175, 162, 144);
     text-shadow: 0px 1px brown;
}
#title1, #title2 {
    text-align: center;
    color: brown;
    padding: 20px;
    text-shadow: 1px 1px 2px #5c4033;
}

#trainSchedule {
    background-color:rgb(210, 228, 240);
    color: rgb(175, 162, 144);
    width: 75%;
    margin:auto;
    border-radius:5px;
    border: 3px solid brown;
    padding: 10px;
    box-shadow: 0px 0px 12px brown;
}

#add {
    text-align: left;
    width: 40%;
    margin:auto;
    border-radius:5px;
    border: 3px solid brown;
    padding: 30px;
    box-shadow: 0px 0px 12px brown;
}
input {
    border-radius: 5px;
    opacity:.5;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom:  1px solid brown;
    outline: none;
    width: 80%;
    background-color: rgb(175, 162, 144);
}

#submit {
    border-radius: 10%;
    margin-top: 30px;
    margin-bottom: 5px;
    margin-right: 40%;
    margin-left: 40%;
    width: 20%;
    box-shadow: 0px 0px 12px #5c4033;
    text-align: center;
    color: rgb(210, 228, 240);
    padding: 5px;
    border: none;
    text-shadow: 1px 1px 2px #5c4033;
    background-color: brown;
}